div#question-info {
  padding: 20px 50px;
}
div#question-info * {
  padding: 0px;
  margin: 0px;
}

table#question-list {
  padding: 10px 20px;
}

div.qa {
  margin: 10px 15px;
  border-radius: 3px;
  border: 1px solid black;
}

div.qa div.user {
  float: left;
  display: inline-block;
  width: 140px;
  height: 100%;
  border-right: 1px solid black;
  padding: 15px 10px;
}
div.qa div.body {
  text-align: left;
  margin-left: 160px;
  border-left: 1px solid black;
  padding: 15px 10px;
}

div.qa div.mod {
  border-top: 1px solid black;
  clear: both;
  text-align: right;
  padding: 5px 20px;
}

