div#question-info {
  padding: 20px 50px;
}
div#question-info * {
  padding: 0px;
  margin: 0px;
}

table#question-list {
  padding: 10px 20px;
}

div.qa {
  margin: 10px 15px;
  border-radius: 3px;
  border: 1px solid black;
}

div.qa div.user {
  float: left;
  display: inline-block;
  width: 140px;
  padding: 15px 10px;
}
div.qa div.body {
  text-align: left;
  margin-left: 160px;
  border-left: 1px solid black;
  padding: 15px 10px;
  min-height: 130px;
}

div.qa div.bottom {
  border-top: 1px solid black;
  clear: both;
  padding: 5px 20px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
}

div.qa div.bottom div.props {
  display: inline-block;
  font-weight: bold;
  font-size: 8pt;
}
div.qa div.bottom div.mod {
  display: inline-block;
  float: right;
}
h6 {
  display: inline;
}

div.endorsed div.body {
  background-color: #ace;
}

div.accepted div.body {
  background-color: #afc;
}
